@model IEnumerable<BooksComics.DTOs.ResponseModels.BookResponseModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageRate)
            <div class="stars-container">
               
                <span class="star @(item.AverageRate > 1 ? "selected" : "")" data-value="1">&#9734;</span>
                <span class="star @(item.AverageRate > 2 ? "selected" : "")" data-value="2">&#9734;</span>
                <span class="star @(item.AverageRate > 3 ? "selected" : "")" data-value="3">&#9734;</span>
                <span class="star @(item.AverageRate > 4 ? "selected" : "")" data-value="4">&#9734;</span>
                <span class="star @(item.AverageRate == 5 ? "selected" : "")" data-value="5">&#9734;</span>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        
        <td>
            
            <button class="btn btn-info rate-book-button" data-toggle="modal" data-target="#ratingModal" data-image="@item.ImagePath" data-bookid="@item.Id" data-title = "@item.Title" data-backdrop="false">Rate book1</button>
        </td>
    </tr>
}



<style>
    .book-image-container img {
        width: 250px;
        margin-bottom: 30px
    }

    .rating-stars .star,
    .stars-container .star{
        display: inline-block;
        font-size: 36px; 
        cursor: pointer;
    }

        .rating-stars .star.selected::before,
        .stars-container .star.selected::before {
            position: absolute;
            content: "\2605";
            color: yellow;
            font-size: 36px; 
        }

    .modal-open {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        text-align: center;
    }
</style>
